.center-text{
    text-align: center;
}

.remove-padding{
    padding: 0;
}

.remove-margin{
    margin: 0;
}

.stretch-width{
    width: 100%;
}

.dead{
    background-color: rgb(255, 79, 79);
}

.align-middle{
    align-content: center;
}